[submodule "element"]
	path = element
	url = git@github.com:FootLooseLabs/element.git
[submodule "atom-websdk"]
	path = atom-websdk
	url = git@github.com:FootLooseLabs/atom-websdk.git
[submodule "muffin-v2-polyfills"]
	path = muffin-v2-polyfills
	url = git@github.com:FootLooseLabs/muffin-v2-polyfills.git
